body { 
	background-color: #6498ae; 
	width: 100%; 
	margin:0 auto; 
	padding: 0; 
	color: #6498ae;
}

/*Navbar*/
.navbar {
    background: #6498ae url("../img/blue-bg.jpg") no-repeat center;
    border: 0px;
    border-radius: 0px;
    height: 70px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #6498ae;
}

.navbar-brand img { 
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
}

.navbar { 
	background-color: #6498ae;
	position: fixed;
	z-index: 9;
	width: 100%;
}

.navbar a {
	color: white;
}

.navbar li a {
    color: white;
}

.navbar-nav li.active a {
    background-color: transparent;
}

.navbar-nav li a:hover {
    background-color: transparent;
    color: lemonchiffon;
}

.navbar li.active {
    padding-top: 2px solid;
    border-top-color: lemonchiffon;
}

.navbar li.active a h4 {
    color: lemonchiffon;
}

/*Carousel*/
.carousel .item {
    max-height: 750px; 
}

.carousel img {
    width: 100%; 
}

#home-text {
	text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.container-outer {
    position: relative;
}

#home {
    background: #6498ae url("../img/cream-bg.jpg") center;
}

.border-badge {
    position: absolute;
    width: 215px;
    height: 60px;
    left: 0;
    right: 0;
    top: -33px;
    margin: 0 auto;
}

.border-badge img {
    display: inline-block;
    vertical-align: middle;
}

#gallery {
    border-top: 5px solid #6498ae;
    border-bottom: 5px solid #6498ae;
}

#hungry {
    background: #6498ae url("../img/menu-bg.jpg");
}

#hungry .container {
    padding-top: 80px;
    padding-bottom: 50px;
}

#hungry-header {
    text-align: center;
    font-size: 60px;
    padding-bottom: 30px;
}

#hungry li.list-group-item {
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #ddd;
    color: #eee;
}

#hungry .nav-tabs {
    border: none;
}

#hungry li.list-group-item h4 {
    font-size: 24px;
}

#hungry .nav-tabs li.active a {
    background-color: transparent;
    border: none;
    color: #eee;
}

#hungry .nav-tabs li a {
    color: #6498ae;
    font-size: 24px;
}

#hungry .nav-tabs li a:hover {
    background-color: transparent;
    border: 0px;
    color: #ddd;
}

#hungry .list-group-item-heading {
    margin-top: 5px;
    margin-bottom:15px;
}

#hungry .list-group-item-text {
    font-size: 16px;
    margin-bottom:10px;
}